
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b1630;
  color: #ccd4df;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid white;
}

th {
  background-color: #2c3b52;
}

h2,
h3,
h4 {
  margin-bottom: 10px;
  color: rgb(249, 243, 243);
}

select,
input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid darkslategray;
  background-color: rgb(3, 3, 23);
  color: white;
}

button {
  padding: 8px 14px;
  background-color: #3969cf;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(8, 8, 28);
  font-weight: bolder;
  font-size: medium;
}

button:hover {
  background-color: rgb(101, 101, 199);
}

.riskFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.riskForm {
  width: 400px;
  border: 1px solid slategrey;
  padding: 25px;
  border-radius: 12px;
}

.riskForm div {
  margin-bottom: 15px;
}

.riskForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formInput {
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
}

.formInput label {
  width: 105px;
  font-weight: 600;
}

.formInput input[type="text"] {
  flex: 1;
  padding: 5px;
}

.formInput input[type="range"] {
  flex: 1;
  margin-right: 10px;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: rgb(99, 188, 232);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: rgb(99, 188, 232);
  border-radius: 50%;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.heatmapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heatmapContainer td {
  width: 50px;
  height: 50px;
  font-weight: bold;
}

.statCard {
  border: 1px solid;
  border-radius: 6px;
  padding: 14px;
}

.levelColor {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 13px;
  color: black;
  font-weight: bolder;
}
.levelColor.low {
  background-color: #00ff00;
}
.levelColor.medium {
  background-color: #ffff00;
}
.levelColor.high {
  background-color: #ffa500;
}
.levelColor.critical {
  background-color: #ff0000;
}
